:root{ 
    --green:#16a085; 
    --black:#444; 
    --light-colour:#777; 
    --box-shadow:.5rem .5rem 0 rgba(22,160,133,2); 
    --text-shadow:.4rem .4rem o rgba(0,0,0,2); 
    --border:.2rem solid var(var(--green)); 
} 
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Ramaraja",sans-serif; 
    box-sizing: border-box; 
    outline: none; 
    border: none; 
} 
.html{ 
    font-size: 62.5%; 
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    scroll-padding-top: 7rem; 
} 
.header{ 
    padding: 2rem 9%; 
    position: fixed; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: #fff; 
    z-index: 1000; 
    top: 0; left: 0; right: 0; 
    --box-shadow:0  .5rem  1.5rem rgba(0,0,0,1); 
} 

.header .logo{ 
    font-size: 3.5rem; 
    color: var(--black); 
} 
.header .logo i{ 
    color: var(--green); 
 
} 
 
.header .navbar a{ 
    font-size: 1rem; 
    color: var(--light-colour); 
    margin-left: 1rem; 
} 
.search{ 
    float: left; 
    padding: 4px; 
    border: 2px solid var(--green); 
    border-radius: 50px; 
    margin-top: -5px; 
    font-size: 1rem; 
  } 
 
.header .navbar a:hover{ 
    color: var(--green); 
} 
.header.navbar .input[type=text]:hover{ 
    color: var(--green); 
}

.headin{
    width: 100%;
    
}

#myhead{
    text-align: center;
    font-size: 50px;
    margin-top: 160px;
}

.containe{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}